<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>SeedScribe</title>
    </head>
    <body>
        <nav class="grey darken-3" role="navigation">
            <div class="nav-wrapper container">
                <a class="brand-logo left" href="/">SeedScribe</a>
                
                <ul class="right">
                    <% if(!currentUser){ %>
                        <li><a href="/login">Login</a></li>
                        <li><a href="/register">Sign Up</a></li>
                    <% } else { %>
                        <li><a>Welcome <strong><%= currentUser.username %></strong>!</a></li>
                        <li><a href="/logout">Logout</a></li>
                    <% } %>
                </ul>
            </div>
        </nav>
        <div class="container">
            <% if(error && error.length > 0){ %>
                <div class="card-panel red darken-4" role="alert">
                    <span class="white-text"><i class="material-icons left">error_outline</i> <%= error %></span>
                </div>
            <% } %>
            <% if(success && success.length > 0){ %>
            <div class="card-panel green darken-4" role="alert">
                <span class="white-text"><i class="material-icons left">done</i><%= success %></span>
            </div>
            <% } %>
        </div>
    
