<% include partials/header %>

<div class="container">
    
    <header>
        <h2 style="text-align: center">Welcome to SeedScribe</h2>
        <h5 style="text-align: center">Journal your way through gardening, from seed to harvest</h5>
    </header>
        
    
       
    <a class="btn btn-large" href="/gardens">View All Gardens</a>
    
    
</div>

<% include partials/footer %>