<% include partials/header %>
<div class="container">
    
    
            
    <div class="row">
        <h2 style="text-align: center">Welcome to SeedScribe</h2>
    </div>
    <div class="row">
        <h5 style="text-align: center">Journal your way through gardening, from seed to harvest</h5>
    </div> 
    <div class="row" style="text-align: center">
        <a class="btn btn-large green darken-4" href="/gardens">View All Gardens</a>
    </div>
            
    
</div>


<% include partials/footer %>