<% include partials/header %>
<div class="container">
    <h2>Login</h2>
    
    <form action="/login" method="POST">
        <input type="text" name="username" placeholder="username">
        <input type="password" name="password" placeholder="password">
        <button class="btn waves-effect waves-cyan" type="submit">Submit<i class="material-icons right">send</i></button>
    </form>
</div>


<% include partials/footer %>