<% include partials/header %>


<div class="container">
    <div class="card">
        <div class="card-content">
            <span class="card-title"><h4>Sign Up</h4></span>
            <form action="/register" method="POST">
                <div class="row">
                    <input class="input-field" type="text" name="username" placeholder="username">
                </div>
                <div class="row">
                    <input class="input-field" type="password" name="password" placeholder="password">
                </div>
                <button class="btn green darken-4 waves-effect waves-light" type="submit">Sign Up<i class="material-icons right">send</i></button>
            </form>
        </div>
    </div>
    
</div>


<% include partials/footer %>