<% include partials/header %>

<div class="container">
    <h2>Sign Up</h2>
    
    <form action="/register" method="POST">
        <input type="text" name="username" placeholder="username">
        <input type="password" name="password" placeholder="password">
        <button class="btn waves-effect waves-cyan" type="submit">Sign Up<i class="material-icons right">send</i></button>
    </form>
</div>



<% include partials/footer %>